PORT=5000

# MONGO_URI=mongodb+srv://faizantanwar1611_db_user:t6psJK4zMnn0r4L9@cluster0.zk4zq0f.mongodb.net/financeiq
MONGO_URI=mongodb+srv://faizantanwar1611_db_user:t6psJK4zMnn0r4L9@cluster0.zk4zq0f.mongodb.net/FinanceIQ?appName=Cluster0
JWT_SECRET=FaizanTanwar1611_secret_key 

# MONGO_URI=mongodb+srv://faizantanwar1611_db_user:<t6psJK4zMnn0r4L9>@cluster0.zk4zq0f.mongodb.net/?appName=Cluster0